.content {
    > p {
        text-indent: 2rem;
    }

    & * {
        text-indent: 0;
    }

    .admonition-content {
        > p {
            text-indent: 2rem;
        }
    }
}

.archive-item-date {
    min-width: 5em;
}

.single .content figure .image-caption:not(:empty){
    max-width: 100%;
}