.content {
    > p {
        text-indent: 2rem;
    }

    & * {
        text-indent: 0;
    }

    .admonition-content {
        > p {
            text-indent: 2rem;
        }
    }

    img[data-sizes="auto"] {
        display: block;
        min-width: 50%;
    }
}

.single .content figure .image-caption:not(:empty){
    max-width: 100%;
}