.img-p80 img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img-p60 img {
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.img-p40 img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}

